*/target/
.project
.classpath
*/nbproject/
.settings/*
*/.settings/*
*/.vscode/*
text-analysis-webclient/.vscode/settings.json
text-analysis-webclient/package-lock.json
text-analysis-webclient/yarn.lock
text-analysis-webclient/node_modules/**
text-analysis-webclient/docs/**
text-analysis-service/src/main/webapp/assets/**
text-analysis-service/src/main/webapp/node_modules/**
text-analysis-service/src/main/webapp/views/**
text-analysis-webclient/assets/js/jar.min.js
text-analysis-webclient/assets/js/jar.js
text-analysis-service/.factorypath
target/*
webclient-angular/node_modules/**
text-analysis-service/src/main/webapp/favicon.ico
text-analysis-service/src/main/webapp/favicon.ico
text-analysis-service/src/main/webapp/*.js
text-analysis-service/src/main/webapp/*.css
text-analysis-service/src/main/webapp/3rdpartylicenses.txt
text-analysis-service/src/main/webapp/index.html
text-analysis-service/src/main/webapp/*.js*
text-analysis-service/src/main/webapp/static/**
webclient-angularjs/docs/**
webclient-angularjs/node_modules/**
webclient-angularjs/dist/**
