*/target/
target/*
.project
.classpath
*/nbproject/
.settings/*
*/.settings/*
*/.vscode/*

webclient-angularjs/.vscode/settings.json
webclient-angularjs/package-lock.json
webclient-angularjs/yarn.lock
webclient-angularjs/node_modules/**
webclient-angularjs/docs/**
webclient-angularjs/assets/js/jar.min.js
webclient-angularjs/assets/js/jar.js
webclient-angularjs/dist/**


text-analysis-webapp/src/main/webapp/assets/**
text-analysis-webapp/src/main/webapp/node_modules/**
text-analysis-webapp/src/main/webapp/views/**
text-analysis-webapp/.factorypath
text-analysis-webapp/src/main/webapp/favicon.ico
text-analysis-webapp/src/main/webapp/*.js
text-analysis-webapp/src/main/webapp/*.css
text-analysis-webapp/src/main/webapp/3rdpartylicenses.txt
text-analysis-webapp/src/main/webapp/index.html
text-analysis-webapp/src/main/webapp/*.js*
text-analysis-webapp/src/main/webapp/static/**



