
#tweetCountLabel{
    padding-right: .5em;
  }
  
  .panel-primary{
    padding-top: 20px;
  }
  
  
  #resultsChart {
    height: 360px;
    position: relative;
    width: 360px; 
  }       
  
  .resultsChartTooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 12px;
    left: 140px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 80px;
    z-index: 10;
  }       
  
  
  
  rect {
    stroke-width: 2;
  }
  
  caption{
      caption-side: top;
      color: #000000 !important;
      text-align: center;
      font-weight: 600;
  }
  
  #searchForm legend{
    font-size: 1.1rem;
  }